
canvas {
    position: fixed;
    top: 0;
    z-index: -1;
}

.banner-container {
    margin-top: 0;
    /* margin-bottom: 10%; */
    /* background: rgba(255,255,255,0.95); */
    padding: 40px;
}
.main-container {
    /* margin-top: 10%; */
    margin-bottom: 0;
    background: rgba(255,255,255,0.95);
    padding: 40px;
}
.outer-container {
    width: 100%;
    background: rgba(255,255,255,0.95);
}
.container {
    max-width: 768px;
}

.stat {
    font-size: 3em;
    color: #296add;
    margin: 0;
    padding: 0;
}
.statlabel {
    font-size: 1em;
}


@font-face {
    font-family: webflow-icons;
    src: url("data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg8SBiUAAAC8AAAAYGNtYXDpP+a4AAABHAAAAFxnYXNwAAAAEAAAAXgAAAAIZ2x5ZmhS2XEAAAGAAAADHGhlYWQTFw3HAAAEnAAAADZoaGVhCXYFgQAABNQAAAAkaG10eCe4A1oAAAT4AAAAMGxvY2EDtALGAAAFKAAAABptYXhwABAAPgAABUQAAAAgbmFtZSoCsMsAAAVkAAABznBvc3QAAwAAAAAHNAAAACAAAwP4AZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAABEAAAAAAAAAAAAAAAAAAAAABAAADpAwPA/8AAQAPAAEAAAAABAAAAAAAAAAAAAAAgAAAAAAADAAAAAwAAABwAAQADAAAAHAADAAEAAAAcAAQAQAAAAAwACAACAAQAAQAg5gPpA//9//8AAAAAACDmAOkA//3//wAB/+MaBBcIAAMAAQAAAAAAAAAAAAAAAAABAAH//wAPAAEAAAAAAAAAAAACAAA3OQEAAAAAAQAAAAAAAAAAAAIAADc5AQAAAAABAAAAAAAAAAAAAgAANzkBAAAAAAEBIAAAAyADgAAFAAAJAQcJARcDIP5AQAGA/oBAAcABwED+gP6AQAABAOAAAALgA4AABQAAEwEXCQEH4AHAQP6AAYBAAcABwED+gP6AQAAAAwDAAOADQALAAA8AHwAvAAABISIGHQEUFjMhMjY9ATQmByEiBh0BFBYzITI2PQE0JgchIgYdARQWMyEyNj0BNCYDIP3ADRMTDQJADRMTDf3ADRMTDQJADRMTDf3ADRMTDQJADRMTAsATDSANExMNIA0TwBMNIA0TEw0gDRPAEw0gDRMTDSANEwAAAAABAJ0AtAOBApUABQAACQIHCQEDJP7r/upcAXEBcgKU/usBFVz+fAGEAAAAAAL//f+9BAMDwwAEAAkAABcBJwEXAwE3AQdpA5ps/GZsbAOabPxmbEMDmmz8ZmwDmvxmbAOabAAAAgAA/8AEAAPAAB0AOwAABSInLgEnJjU0Nz4BNzYzMTIXHgEXFhUUBw4BBwYjNTI3PgE3NjU0Jy4BJyYjMSIHDgEHBhUUFx4BFxYzAgBqXV6LKCgoKIteXWpqXV6LKCgoKIteXWpVSktvICEhIG9LSlVVSktvICEhIG9LSlVAKCiLXl1qal1eiygoKCiLXl1qal1eiygoZiEgb0tKVVVKS28gISEgb0tKVVVKS28gIQABAAABwAIAA8AAEgAAEzQ3PgE3NjMxFSIHDgEHBhUxIwAoKIteXWpVSktvICFmAcBqXV6LKChmISBvS0pVAAAAAgAA/8AFtgPAADIAOgAAARYXHgEXFhUUBw4BBwYHIxUhIicuAScmNTQ3PgE3NjMxOAExNDc+ATc2MzIXHgEXFhcVATMJATMVMzUEjD83NlAXFxYXTjU1PQL8kz01Nk8XFxcXTzY1PSIjd1BQWlJJSXInJw3+mdv+2/7c25MCUQYcHFg5OUA/ODlXHBwIAhcXTzY1PTw1Nk8XF1tQUHcjIhwcYUNDTgL+3QFt/pOTkwABAAAAAQAAmM7nP18PPPUACwQAAAAAANciZKUAAAAA1yJkpf/9/70FtgPDAAAACAACAAAAAAAAAAEAAAPA/8AAAAW3//3//QW2AAEAAAAAAAAAAAAAAAAAAAAMBAAAAAAAAAAAAAAAAgAAAAQAASAEAADgBAAAwAQAAJ0EAP/9BAAAAAQAAAAFtwAAAAAAAAAKABQAHgAyAEYAjACiAL4BFgE2AY4AAAABAAAADAA8AAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADQAAAAEAAAAAAAIABwCWAAEAAAAAAAMADQBIAAEAAAAAAAQADQCrAAEAAAAAAAUACwAnAAEAAAAAAAYADQBvAAEAAAAAAAoAGgDSAAMAAQQJAAEAGgANAAMAAQQJAAIADgCdAAMAAQQJAAMAGgBVAAMAAQQJAAQAGgC4AAMAAQQJAAUAFgAyAAMAAQQJAAYAGgB8AAMAAQQJAAoANADsd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzVmVyc2lvbiAxLjAAVgBlAHIAcwBpAG8AbgAgADEALgAwd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzUmVndWxhcgBSAGUAZwB1AGwAYQByd2ViZmxvdy1pY29ucwB3AGUAYgBmAGwAbwB3AC0AaQBjAG8AbgBzRm9udCBnZW5lcmF0ZWQgYnkgSWNvTW9vbi4ARgBvAG4AdAAgAGcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAuAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==") format('truetype');
    font-weight: 400;
    font-style: normal
}

.citation {
    margin-left: 10px;
    /* background-color: #e9e9e9; */
    padding: 8px;
}

.citation:not(:first-child) {
    margin-top: 10px;
}

.citation h4,
h5,
h6 {
    margin: 0;
    font-weight: initial;
}

.citation b {
    text-decoration: underline;
    font-weight: bold;
}

.citation ul {
    padding-left: 0px;
    margin: 0;
}

.citation li {
    display: inline;
}

.citation h4 {
    line-height: normal;
    font-weight: bold;
}

.citation h5 {
    margin-top: 4px;
    margin-bottom: 4px;
    line-height: normal;
    font-size: 12px;
}

.citation h6 {
    /* margin-top: 4px; */
    font-style: italic;
}

.citation img,
.citation video {
    float: right;
    margin-left: 8px;
}

.citation p {
    /* color: steelblue; */
    /* font-weight: bold; */
    font-size: 12px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.citation .conference {
    font-style: normal;
    font-weight: bold;
    padding-right: 5px;
    padding-left: 5px;
    /* background-color: PaleGreen; */
    margin-left: 0;
}

.citation .conference.workshop {
    background-color: LightSkyBlue;
}

.citation .conference.arxiv {
    background-color: Gainsboro;
}

@media only screen and (max-width: 600px) {
    .news,
    .citation {
        margin-left: 0;
    }
    .citation h4 {
        font-size: 14px;
    }
    .citation ul {
        font-size: 12px;
    }
    .authors h5 {
        font-size: 20px;
    }
    .authors h6 {
        font-size: 16px;
        padding-bottom: 6px;
    }
    .show_wide {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .btn-search {
        font-size: 16px;
        padding-left: 4px;
        padding-right: 4px;
    }
}

.authors {
    padding-bottom: 10px;
}
.authors .col-sm-3 {
    padding: 0;
}
.authors h5 {
    font-size: 24px;
    font-weight: 300;
}
.authors h5 {
    font-size: 20px;
}

.shadowed_text {
    text-shadow: 4px 0 4px #5fb7f7, 0 -4px 4px #5fb7f7, 0 4px 4px #5fb7f7, -4px 0 4px #5fb7f7;
    color: white;
}

body {
    /* font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    /* font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif; */
    font-weight: 300;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

/* code {

} */

h1, h2, h3, h4, h5, h6 {
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: inherit;
}

p, .caption {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    margin-top: 4px;
}
.caption {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
}

.buttons .btn  {
    padding: 16px 32px;
    margin: 6px;
    border: none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    opacity: 0.90;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1;
    outline: none;
    background-color: #ddd;
}
.buttons .btn:hover {
    opacity: 1;
}
.buttons .btn:active {
    transform: translateY(1px);
}
.buttons .btn-primary {
    background-color: #055ada;
    color: #fff;
}

.btn .is-dark {
    background-color: #363636;
    border-color: transparent;
    color: #fff;
    }

.btn-search {
    display: block;
    text-align: center;
    padding: 12px 20px 12px 20px;
    margin-right: auto;
    margin-left: auto;
}

.btn-search svg {
    margin-right: 4px;
}

hr.divider {
    max-width: 768px;
    margin-top: 32px;
    margin-bottom: 32px;
}

.row:not(:last-child):not(.authors) {
    margin-bottom: 16px;
}

.invisible {
    display: none;
}

.btn-light.disabled {
    /* border: 2px black; */
    background-color: #ccc;
}

/* Navbar */
.navbar {
    background-color: white;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: black;
}

.navbar-nav .nav-link:hover {
    color: #007bff; /* Change to your preferred hover color */
}


/*Tables*/
.tg  {border-collapse:collapse;border-color:#ccc;border-spacing:0;}
.tg td{background-color:#fff;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
  border-width:0px;color:#333;font-size:12px;overflow:hidden;padding:4px 2px;
  word-break:normal;}
.tg th{background-color:#f0f0f0;border-bottom-width:1px;border-color:#ccc;border-style:solid;border-top-width:1px;
  border-width:0px;color:#333;font-size:13px;font-weight:bold;overflow:hidden;
  padding:5px 10px;word-break:normal;}
.tg .tg-wa1i{font-weight:bold;text-align:center;vertical-align:middle;border-bottom: 1px solid black;}
.tg .tg-buh4{background-color:#f9f9f9;text-align:left;vertical-align:top}
.tg .tg-4bam{background-color:#FFF;text-align:center;vertical-align:bottom}
.tg .tg-center{text-align:center;vertical-align:center;}
.tg .tg-57iy{background-color:#f9f9f9;text-align:center;vertical-align:middle}
.tg .tg-kcps{background-color:#FFF;text-align:left;vertical-align:bottom}
.tg .tg-7yig{background-color:#FFF;text-align:center;vertical-align:top}
.tg .tg-30ck{background-color:#F3F3F3;text-align:center;vertical-align:center;}
.tg .tg-30l{background-color:#F3F3F3;text-align:left;vertical-align:center}
@media screen and (max-width: 767px) {.tg {width: auto !important;}.tg col {width: auto !important;}.tg-wrap {overflow-x: auto;-webkit-overflow-scrolling: touch;}}
.atkname{font-weight:normal;background-color:#FFF;}

:root {
    --textscale: 15px;
    --headscale: 17px;
  }

.tg .tg-tb-center{text-align:center;vertical-align:center;font-size:var(--headscale)}

.tg .tg-44first{background-color:#F3F3F3;text-align:center;vertical-align:center;font-size:var(--textscale);}
.tg .tg-44second{background-color:#FFF;text-align:center;vertical-align:bottom;font-size:var(--textscale);}

.tg .tg-30first{background-color:#F3F3F3;text-align:left;vertical-align:center;font-size:var(--textscale);}
.tg .tg-30second{background-color:#FFF;text-align:left;vertical-align:bottom;font-size:var(--textscale);}



.graph-container {
    display: flex;  /* Usa Flexbox per gestire l'allineamento */

    width: 100%; 
    height: auto; /* Limita la larghezza massima */
/* Centra il contenitore nella pagina */
    padding: 0;

    transform: translateX(-150px);  /* Trasla leggermente a sinistra, se necessario */
}

.toggle-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.toggle-arrow {
    position: absolute;
    right: 0;
    transition: transform 0.3s ease;
    font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.1;
    color: black;
    transform: rotate(90deg);
}